{% load static i18n custom_filter %}
{% get_footer as footer %}
 <section class="banner-home">
        <div class="bg"></div>
        <div class="header-banner">
            <div class="container">
                <div class="banner-info">

                    <div class="header-banner__main">
                        <a href="#">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                        <h2>
                            {% if request.LANGUAGE_CODE == 'ru' %}
                                                                {{ footer.header_title_ru }}
                                                            {% elif request.LANGUAGE_CODE == 'uz' %}
                                                                {{ footer.header_title_uz }}
                                                            {% elif request.LANGUAGE_CODE == 'en' %}
                                                                {{ footer.header_title_en }}
                                                            {% endif %}
                        </h2>

                    </div>

                </div>
                <div class="header-socials">
                    <a href="{{ footer.facebook }}"><i class="fa fa-facebook"></i></a>
                    <a href="{{ footer.youtube }}"><i class="fa fa-youtube-play"></i></a>
                    <a href="{{ footer.instagram }}"><i class="fa fa-instagram"></i></a>
                    <a href="{{ footer.telegram }}"><i class="fa fa-telegram"></i></a>
                    <a href="{{ footer.twitter }}"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="banner-content">
                    <div>
                        <h2>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %}</h2>
                        <span>{% trans "Lorem ipsum dolor sit amet" %}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-slider">
            <video width="100%" height="100%" allowfullscreen autoplay muted loop>
                <source src="{% static 'images/bg.webm' %}" type="video/webm" autoplay>
            </video>
            <!-- <div id="slider" class="owl-carousel">
                <div class="item">
                    <div class="slide-image scale-in" style="background-image: url(images/slide1.jpg)"></div>
                </div>
                <div class="item">
                    <div class="slide-image scale-in" style="background-image: url(images/slide2.jpg)"></div>
                </div>
                <div class="item">
                    <div class="slide-image scale-in" style="background-image: url(images/slide3.jpg)"></div>
                </div>
            </div> -->

        </div>
    </section>