{% load static i18n custom_filter %}
<div class="side-quote">
                                <div class="quote-title">
                                    {% get_quote as quote %}
                                    <article>
                                        <img src="{{ quote.image.url }}" alt="">
                                    </article>
                                    <div class="quote-title__info">
                                                {% if request.LANGUAGE_CODE == 'ru' %}
                                                    <h2>{{quote.author_name_ru}}</h2>
                                                    <span>{{quote.position_ru}}</span>
                                                {% elif request.LANGUAGE_CODE == 'uz' %}
                                                    <h2>{{quote.author_name_uz}}</h2>
                                                    <span>{{quote.position_uz}}</span>
                                                {% elif request.LANGUAGE_CODE == 'en' %}
                                                    <h2>{{quote.author_name_en}}</h2>
                                                    <span>{{quote.position_en}}</span>
                                                {% endif %}

                                    </div>
                                </div>
                                <div class="quote-content">
                                    <p>
                                                {% if request.LANGUAGE_CODE == 'ru' %}
                                                    {{quote.content_ru}}
                                                {% elif request.LANGUAGE_CODE == 'uz' %}
                                                    {{quote.content_uz}}
                                                {% elif request.LANGUAGE_CODE == 'en' %}
                                                    {{quote.content_en}}
                                                {% endif %}
                                    </p>
                                </div>

                            </div>
                            <div class="side-year" data-aos="zoom-in">
                                <article>
                                    <img src="{% static 'images/banner.png' %}" alt="">
                                </article>
                                <div class="side-year__title">
                                    {% trans "2019 - Год активных инвестиций и социального развития" %}
                                </div>
                            </div>