{% load static i18n %}
<div class="side-quote">
                                <div class="quote-title">
                                    <article>
                                        <img src="{% static 'images/vakil.jpg' %}" alt="">
                                    </article>
                                    <div class="quote-title__info">
                                        <h2>{% trans "Касимов Дилмурод Султанмуротович" %}</h2>
                                        <span>{% trans "Уполномоченный" %}</span>
                                    </div>
                                </div>
                                <div class="quote-content">
                                    <p>{% trans "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, vero? Id hic illo voluptatibus est, amet, praesentium, totam maiores aspernatur ratione commodi cum alias. Delectus perspiciatis nisi quasi laboriosam debitis!" %}</p>
                                </div>

                            </div>
                            <div class="side-year" data-aos="zoom-in">
                                <article>
                                    <img src="{% static 'images/banner.png' %}" alt="">
                                </article>
                                <div class="side-year__title">
                                    {% trans "2019 - Год активных инвестиций и социального развития" %}
                                </div>
                            </div>