<script>
    $(document).ready(function () {
            $("#uid-send").click(function (e) {
                e.preventDefault();

                let formData = new FormData();

                formData.append('uid', $('input[name="uid"]').val());
                
                var url = $("#uid-send").data("url");
                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        // window.location.href = '/first-aid/list';
                        $("#myModal").modal("show");
                        $("p#val1").text(data.inn)
                        if(data.status.toLowerCase().indexOf("келишилди") === -1){
                            $("p#val2").text("Не согласовано")
                        }
                        else{
                            
                            $("p#val2").text("Согласовано")
                        }
                        
                        
                    },
                    error: function (data) {
                        alert('Проверка не существует');
                    }
                });

            })
        });
    </script>
</script>