{% extends '_base.html' %}
{% load static i18n %}
        {% block content %}
        <section class="banner-page" style="background-image: url({% static 'images/slide1.jpg' %})">
            <div class="bg"></div>
            <div class="page-banner">
                <div class="container">
                    <div class="page-banner__content">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                        {% include '_header_title.html' %}
                    </div>
                    <div class="page-title">
                        <h3>{% trans "Фотогалерея" %}</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div class="all-gallery">
                            <div class="main-row">
                                {% for photo in photos %}
                                    <div class="main-col-6">
                                    <a data-fancybox="gallery" href="{{photo.file.url}}" class="gallery-item" data-aos="flip-up" data-aos-delay="100">
                                        <article>
                                            <img src="{{photo.file.url}}" alt="">
                                        </article>
                                        <div class="gallery-item__content">
                                            <span>{{photo.created}}</span>
                                            {% if request.LANGUAGE_CODE == 'ru' %}
                                                <p>{{photo.title_ru}}</p>
                                                {% elif request.LANGUAGE_CODE == 'uz' %}
                                                <p>{{photo.title_uz}}</p>
                                                {% elif request.LANGUAGE_CODE == 'en' %}
                                                <p>{{photo.title_en}}</p>
                                            {% endif %}

                                        </div>
                                    </a>
                                </div>
                                {% endfor %}


{#                                <div class="main-col-6">#}
{#                                    <a href="gallery_view.html" class="gallery-item" data-aos="flip-up" data-aos-delay="200">#}
{#                                        <article>#}
{#                                            <img src="images/news1.jpg" alt="">#}
{#                                        </article>#}
{#                                        <div class="gallery-item__content">#}
{#                                            <span>26 сентября 2019</span>#}
{#                                            <p>ЦУПЭПиЦЭ налаживает сотрудничество с «Национальным центром электронных услуг»</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="main-col-6">#}
{#                                    <a href="gallery_view.html" class="gallery-item" data-aos="flip-up" data-aos-delay="300">#}
{#                                        <article>#}
{#                                            <img src="images/news2.jpg" alt="">#}
{#                                        </article>#}
{#                                        <div class="gallery-item__content">#}
{#                                            <span>26 сентября 2019</span>#}
{#                                            <p>ЦУПЭПиЦЭ налаживает сотрудничество с «Национальным центром электронных услуг»</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="main-col-6">#}
{#                                    <a href="gallery_view.html" class="gallery-item" data-aos="flip-up" data-aos-delay="400">#}
{#                                        <article>#}
{#                                            <img src="images/news3.jpg" alt="">#}
{#                                        </article>#}
{#                                        <div class="gallery-item__content">#}
{#                                            <span>26 сентября 2019</span>#}
{#                                            <p>ЦУПЭПиЦЭ налаживает сотрудничество с «Национальным центром электронных услуг»</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="main-col-6">#}
{#                                    <a href="gallery_view.html" class="gallery-item" data-aos="flip-up" data-aos-delay="500">#}
{#                                        <article>#}
{#                                            <img src="images/news2.jpg" alt="">#}
{#                                        </article>#}
{#                                        <div class="gallery-item__content">#}
{#                                            <span>26 сентября 2019</span>#}
{#                                            <p>ЦУПЭПиЦЭ налаживает сотрудничество с «Национальным центром электронных услуг»</p>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="side-banner">
                            <div class="side-menu">
                                <h2>{% trans "Пресс служба" %}</h2>
                                <ul>
                                    <li>
                                        <a href="{% url 'news.list' %}" >{% trans "Новости" %}</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'gallery.list.photo' %}" class="active">{% trans "Фотогалерея" %}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'gallery.list.video' %}">{% trans "Видеогалерея" %}</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="side-banner__item" data-aos="zoom-in-right">
                                <a href="#">
                                    <article>
                                        <img src="images/symbols.png" alt="">
                                    </article>
                                    <h2>Государственные символы</h2>
                                </a>
                            </div>
                            <div class="side-banner__item" data-aos="zoom-in-left">
                                <a href="#">
                                    <article>
                                        <img src="images/lex.png" alt="">
                                    </article>
                                    <h2>Национальная <br>база данных законодательства</h2>
                                </a>
                            </div> -->
                            {% include '_side_banner.html' %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}


    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
          duration: 1000,
        })
    </script>
    


</html>